.button-container {
    display: flex;
    position: relative;
    margin-top: 50px;
}

.button-text {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
    z-index: 1;

    &::before {
        content: "";
        height: 70px;
        width: 70px;
        border-radius: 40px;
        background-color: rgb(255, 201, 201);
        position: absolute;
        bottom: -21px;
        left: -20px;
        z-index: -1;
        transition: width 0.3s, background-color 0.3s;
   
    }
    
    &:hover::before {
          background-color: rgb(243, 176, 176);
          width: 120%;
    }

    &:active {
        transform: scale(.95)
    }
}


@media screen and (max-width: 530px) {
    .button-container {
        justify-content: center;
    }
}