.container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;

    &-title2 {
        text-align: left;
        width: 80%;
    }

    &-logo {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;

       &-img {
        height: 100px;
        width: 100px;
        margin: 40px;
        object-fit: contain;
        transition: filter 0.4s;
        box-shadow: 0 0 100px rgb(193, 192, 192);


        &:hover {
           filter: brightness(1.2); 
        }
        
        }
    }


    &-title {
        text-align: center;
    }
}
