.container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;

    &-skill-list li {
        line-height: 30px;
        font-size: larger;
        opacity: 0;

        &:hover {
            color: rgb(203, 75, 75);
            font-weight: bold;        
            cursor: pointer;
        }
    }

    &-group {
        display: flex;
        align-items: center;
    }

    &-title2 {
        text-align: left;
        width: 1000px;
    }

    &-logo {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       max-width: 800px;
       border-right: solid grey 1px;

       &-img {
        height: 80px;
        width: 80px;
        object-fit: contain;
        }
    }

    &-title {
        text-align: center;
    }
}

.flip-card {
    background-color: transparent;
    width: 80px;
    height: 80px;
    perspective: 1000px;
    margin: 30px;
    opacity: 0;
    
    &-front {
        color: black;
    }

    &-back {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        transform: rotateY(180deg);
        font-weight: bold;
        border-radius: 100px;

        &-light {
            background-color: aliceblue; 
        }
    }

    &-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        border-radius: 100px;
    }

    &:hover .flip-card-inner {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        transform: rotateY(180deg);    
    }
  
    &-front, &-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

.parallaxSkill {
    background-image: url("../../assets/images/fond-blanc.avif");
    min-height: 30vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    margin-top: 70px;;
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-title {
        text-align: center;
        color: black;
    }

    &-paragraph {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 25px;
        font-weight: bolder;
        color: black;
        margin: 30px;

        &-cv {
            margin-top: 50px;
        }
    }
}

.dark {
    color: rgb(240,240,240);
}

.CV {
    background-color: rgb(54, 54, 54);
    display: block;
    border: none;
    padding: 15px;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
    position: relative;
    color: rgb(240,240,240);
    text-decoration: none;
    opacity: 0;

    z-index: 0;

    &::before,
    &::after {
        content: '';
        width: 5%; height: 20%;
        transition: 0.35s;
        position: absolute;
    }

    &::before {
        bottom: -5px; left: -5px;
        border-left: 2px solid rgb(28, 31, 30);
        border-bottom: 2px solid rgb(28, 31, 30);
    }

    &::after {
        top: -5px; right: -5px;
        border-right: 2px solid rgb(28, 31, 30);
        border-top: 2px solid rgb(28, 31, 30);
    }

    &:hover::before,
    &:hover::after {
        width: 105%;
        height: 110%;
    }

    &:active {
        scale: 0.95;
    }
}

.CVDark {
    background-color:rgb(34, 39, 46);
    display: block;
    border: none;
    padding: 15px;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
    position: relative;
    color: rgb(240,240,240);
    text-decoration: none;
    opacity: 0;

    z-index: 0;

    &::before,
    &::after {
        content: '';
        width: 5%; height: 20%;
        transition: 0.35s;
        position: absolute;
    }

    &::before {
        bottom: -5px; left: -5px;
        border-left: 2px solid rgb(240,240,240);
        border-bottom: 2px solid rgb(240,240,240);
    }

    &::after {
        top: -5px; right: -5px;
        border-right: 2px solid rgb(240,240,240);
        border-top: 2px solid rgb(240,240,240);
    }

    &:hover::before,
    &:hover::after {
        width: 105%;
        height: 110%;
    }

    &:active {
        scale: 0.95;
    }
}

@media screen and (max-width: 1000px){
    .container-logo {
        max-width: 80%;
        border: none;
        margin-bottom: 30px;
    }

    .container-title2 {
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }

    .container-group {
        display: flex;
        flex-direction: column;
    }
}