.project {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    &-title {
        text-align: center;
        margin-bottom: 100px;

    }
}

.cardContainer {
    display: flex;
    flex-direction: column;
    margin: auto;    
    gap: 100px;
    width: 1000px;   
}

.card {
    border-radius: 10px;
           
    &-Img {
        object-fit: cover;
        height: 300px;
        width: 300px;
        border-radius: 10px;
        box-shadow: 0 0 100px rgb(193, 192, 192);
        transform-style: preserve-3d;
        transform: 
            perspective(5000px)
            rotateY(var(--rotateY))
            rotateX(var(--rotateX));
    }   
    
    &-description {
        width: 500px;
        transition: opacity 1s;
        text-align: justify;
    }

    &-title {
        text-transform: uppercase;
        text-align: left;
    }

    &-text {
        font-size: 18px;
    }
}

.card-even {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;    
}
    
.card-odd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
}

@media screen and (max-width: 1000px) {
    .cardContainer {
        width: 100%;
    }

    .card {
        flex-direction: column;

        &-Img {
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 530px) {
    .card-description {
        width: 90%;
        display: flex;
        margin: auto;    
    }

    .card-title {
        margin-left: 15px;
    }

    .card-Img {
        width: 70%;
        height: 70%;
    }
}