.project {
    display: flex;
    flex-direction: column;
    &-title {
        text-align: center;
        margin-bottom: 100px;
    }
}

.cardContainer {
    display: flex;
    flex-direction: column;
    margin: auto;    
    gap: 100px;
    width: 1000px;   

    &-display {
        display: none;
    }
}

.card {
    border-radius: 10px;

    &-button {
        display: flex;
        justify-content: space-between;
        width: 500px;
    }
           
    &-Img {
        object-fit: cover;
        height: 300px;
        width: 300px;
        border-radius: 10px;
        box-shadow: 0 0 100px rgb(193, 192, 192);
        transform-style: preserve-3d;
        transform: 
            perspective(5000px)
            rotateY(var(--rotateY))
            rotateX(var(--rotateX));
    }   
    
    @for $i from 0 through 10 {
        .card-description#{$i} {
            width: 500px;
            opacity: 1;
            transition: opacity 0.3s;
            text-align: justify;
            position: relative;
        }
    }

    &-title {
        text-transform: uppercase;
        text-align: left;
    }

    &-text {
        font-size: 18px;
        position: relative;
    }
}

.card-even {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;    
}
    
.card-odd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
}

.card-description-change {
     
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
    z-index: 1;
    cursor: pointer;

    &::before {
        content: "";
        height: 70px;
        width: 70px;
        border-radius: 40px;
        background-color: rgb(195, 171, 255);
        position: absolute;
        bottom: -22px;
        left: -20px;
        z-index: -1;
        transition: width 0.3s, background-color 0.3s;
    }
    
    &:hover::before {
            background-color: rgb(219, 154, 231);
            width: 125%;
    }

    &:active {
        transform: scale(.95)
    }   
}

.dark-text {
    color: black;
}

.light-text {
    color: rgb(233, 233, 233);

    
}
.low-box-shadow {
    box-shadow: 0 0 10px rgb(115, 115, 115);
}

@for $i from 0 through 10 {

    .card-logo-container#{$i} {
        display: flex;
        justify-content: space-around;
        opacity: 0;
        transition: opacity 0.3s;
        width: 500px;
        position: absolute;
        top: 30px;
    }
}

.logo {
    height: 70px;
    margin: 10px;
    padding-top: 40px;
}

@media screen and (max-width: 1000px) {
    .cardContainer {
        width: 100%;
    }

    .card {
        flex-direction: column;

        &-Img {
            margin-bottom: 30px;
        }
    }

    .card-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 530px) {
    .card-text {
        width: 80%;
    }

    .logo {
        height: 50px;
    }

    @for $i from 0 through 10 {
        .card .card-description#{$i} {
            width: 80%;
            margin:auto;
        }
        
        .card-logo-container#{$i} {
            width : 100%;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .card-title {
        margin-left: 15px;
    }

    .card-Img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
}