.about {
    display: flex;
    flex-direction: column;
}


.aboutContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;

    &-aboutme {
        margin-left: 30px;

        p {
            font-size: larger;
            font-weight: bold;
        }

        &-name {
            font-weight: bold;
            font-size: 50px;
        }
    }

    &-presentation {
        position: absolute;
        margin: 10px;
        text-align: justify;    
        width: 40%;  
        max-width: 600px;
        opacity: 0;
        transition: opacity 0.3s;
        margin-top: 70px;
    
        &.visible {
            opacity: 1;
        }
    }

    &-accroche {
        font-size: 35px;
        font-style: italic;
        text-align: center;    
        max-width: 800px;
        width: 80%;
        opacity: 1;
        transition: opacity 0.3s;
        margin-top: 90px;
    
        &.visible { 
            opacity: 0;
        }
    }    
}

.aboutContainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comment {
    display: flex;
    font-style: italic;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    position: relative;
    top: 15px;
    width: 220px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    transition: transform 0.2s;

    &.dark-comment { 
        
        &:hover {
            background-color: rgb(242, 92, 92);   
        }

        &:active {
            transform: scale(.95)
        }
    }
    &:hover {
        background-color: rgb(255, 224, 224);        
    }

    &:active {
        transform: scale(.95)
    }
} 

.ball {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    background-color: rgb(208, 53, 53);
    z-index: 10000;
    border: 2px solid rgb(208, 53, 53);
    height: 15px;
    width: 15px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1.5s;
}

.parallax {
    background-image: url("../../assets/images/fond.jpg");
    min-height: 30vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    margin-top: 30px;
}

@media screen and (max-width: 1000px) {

    .aboutContainer{
        flex-direction: column;
    }

    .aboutContainer-presentation, .comment{
        display: none;
    }

    .aboutContainer-accroche {
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {

    .aboutContainer-accroche {
        font-size: 20px;
    }
}
