    .aboutContainer {
    display: flex;
    flex-direction: column;
    align-items : center;

    &-title {
        text-align: center;
    }

    &-presentation {
        text-align: justify;    
        width: 800px;    

    }
}
  

.ball {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    background-color: rgb(208, 53, 53);
    z-index: 10000;
    border: 2px solid rgb(208, 53, 53);
    height: 15px;
    width: 15px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1.5s;
}

.parallax1 {
    overflow-x: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/images/frontEnd.jpg');
    height: 50vh;
    width: 100%;
    object-fit: cover;
    
}

.parallax2 {
    overflow-x: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/images/react-nodejs.webp');
    height: 50vh;
    width: 100%;
    object-fit: cover;
}