.contact {
    text-align: center;
    margin-top: 50px;
    // background-color: rgb(34,39,46);
    // color: white;

    &-title {
        padding-top: 30px;
        margin: 0;
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    text-align: left;

    &-message::placeholder {
        font-family: 'Courier New', Courier, monospace;
    }

    &-button {
        padding: 10px;
        border-radius: 10px;
        width: 200px;
        margin-top: 20px;
        color: rgb(193, 192, 192);
        background-color: black;
        margin: 50px auto;

        &:active {
            scale: 0.95;
        }
    }
}

input {
    margin-bottom: 20px;
    padding: 10px;
    
    &::placeholder {
        font-family: 'Courier New', Courier, monospace;

    }
}

@media screen and (max-width: 600px){

    .form {
        width: 75%;
    }
}




