.contact {
    text-align: center;
    background-color: rgb(34,39,46);
    color: white;

    &-title {
        padding-top: 30px;
        margin: 0;
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    margin-top: 50px;
    text-align: left;
    &-message::placeholder {
        font-family: 'Courier New', Courier, monospace;
    }

    &-button {
        margin-top: 20px;
        color: rgb(193, 192, 192);
        background-color: black;
    }
}

input {
    margin-bottom: 20px;
    padding: 10px;
    
    &::placeholder {
        font-family: 'Courier New', Courier, monospace;

    }
}




