.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
    margin: auto;
    height: 50px;
    padding: 0;  
    overflow: hidden;
    position: sticky;
    top: 0; 
    background-color: black; 


    &-logo {
      width: 60px;  
    }

    &-list {
        text-decoration: none;
        color: white;
    }
}
