.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
    margin: auto;
    height: 50px;
    padding: 0;  
    overflow: hidden;
    position: sticky;
    top: 0; 
    background-color: black; 
    z-index: 9999;


    &-logoConteiner {
      width: 60px; 
      
      .navbar-logo {
        width: 60px;
        margin-left: 100px;
      }
      
    }

    &-listConteiner {
        display: flex;
        width: 500px;
       
        .navbar-list {
          color: white;
          text-decoration: none;        
          margin: 20px;

        }
    }
}
