.listContainer {
    position: fixed;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 15vw;
    height: 100vh;
    font-size: 25px;
    list-style-type: none;
    opacity: 0;
    z-index: -9;
    transition: 300ms;
    margin: 0;

    &.active {
      opacity: 1;
      background-color: rgb(31, 31, 31, 0.96);
      z-index: 3;

      &.dark-mode {
        background-color: rgb(34, 49, 70);
      }
    }

    .list {
      color: rgb(255, 255, 255);
      font-weight: bolder;
      text-decoration: none;        
      z-index: 9000;
      position: relative;
      top: 600%;
      left: 10%;

      &:hover{
        color: red;
      }
    }
}

.lightMode {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 8%;
  top: 75vh;  
  border: 2px solid;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(222, 222, 222);
  transition: background-color 0.3s;

  &:active {
    transform: scale(0.95);
  }

  &:hover {
   background-color: #cecccc;
  }

  & i{
    font-size: 20px;
  }
}

.lightdark-mode{

  background-color: #878787;

  &:hover{
  background-color: #ff5151;
  }
}

.hamburger  {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 5%;
  top: 30px;
  z-index: 3;
  cursor: pointer;
  transition: filter 0.4s;    

  &:hover {
    filter: brightness(1.3);
  }

  &.active {

    .line {
      background-color: #ebebeb;
    }
    
    .line:nth-child(1) {
      transform: translateY(22px) rotate(45deg);
      width: 40px;
    }

    .line:nth-child(2) {
      opacity : 0
    }

    .line:nth-child(3) {
      transform: translateY(-20px) rotate(-45deg);
      width: 40px;  
    }
  }

  .line {
    width: 100%;
    height: 8px;
    background-color: #f14f4f;
    position: absolute;
    display: block;
    right: 0;
    transition: all 400ms;
    border-radius: 10px;
  }

  & .line:nth-child(1) {
    top: 20%;
  }

  & .line:nth-child(2) {
    top: 50%;
    width: 60%;
    text-align: right;  }

  & .line:nth-child(3) {
    top:80%;
    width: 40%;
  }
}

@media screen and (max-width: 1000px) 
{
    .listContainer {
      font-size: 20px;

      .list{
        left: -20px;
      }
      
      .list-btn {
        top: 80%;
      }
    }

      .line {
        height: 6px;
      }
    }

    

@media screen and (max-width: 800px) {

  .listContainer .list {
    right: 60px;  
    font-size: 15px;
  
  }

}

@media screen and (max-width: 450px) {

  .hamburger {
    position: fixed;
    top: 20px;
    right: 10%;
    width: 30px;
    height: 30px;

    &.active {

      .line {
        background-color: #ebebeb;
      }
      
      .line:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
        width: 40px;
      }
  
      .line:nth-child(2) {
        opacity : 0
      }
  
      .line:nth-child(3) {
        transform: translateY(-20px) rotate(-45deg);
        width: 40px;  
      }
    }

    .line {
      height: 5px;
    }
  }

  .listContainer {
    gap: 2%;

    .list {
      position: relative;
      font-size: 15px;
      top: 100px;
      right: 20px;
    }
    
    .list-btn {
      top: 80%;
      transform: translateX(50%);
    }
  }

}