.footer {
    display: flex;
    margin-top: 50px;
    justify-content: center;   
    align-items:center;
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;

    &-logo {
        height: 100px;
        margin-bottom: 10px;
    }

}
