body  {
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    // overflow-anchor: none;
}

body::-webkit-scrollbar {
    width: 10px; 
}

body::-webkit-scrollbar-thumb {
    background-color:#f14f4f;
    border-radius: 10px;
}

// *{    border: blue solid 1px;
// }

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 25px;
}

@media screen and (max-width: 500px) {
    p {
        font-size: 15px;
    }

    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 22px;
    }
}

.dark-mode {
    background-color: rgb(34, 39, 46);
    color: rgb(233, 233, 233);
}

.light-mode {
    background-color: rgb(255, 255, 255);
    color: black;
}